
<div class="layui-card-header">版本</div>
<div class="layui-card-body layui-text layadmin-about">
  <blockquote class="layui-elem-quote" style="border: none;">
    <script type="text/html" template>
      <p>当前版本：v{{ layui.admin.v }}</p>
    </script>
  </blockquote>
</div>

<div class="layui-card-header">关于</div>
<div class="layui-card-body layui-text layadmin-about">
  <blockquote class="layui-elem-quote" style="border: none;">
    一套纯静态的 HTML 网页界面模板，以开源免费的 layui 基础组件和页面模板 Demo 为组成，没有任何后端程序及数据库存储等服务端代码。
    <br><br>开发者使用该网页模板，可省去前端的大量工作，从而更高效地开发 Web 应用系统。
  </blockquote>
</div>